body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 60px;
  padding: 22px 62px 23px 56px;
  border: solid 3px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px;
}

.tittle {
  text-align: center;
}

.tittle h2 {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #636c6c;
}

.tittle p {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #afb8b8;
  margin-top: 33px;
  padding: 0 200px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.header {
  height: 109px;
  background-color: #fff;
}

.header__body {
  height: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #3c3d42;
  text-align: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -150px;
}

.header__link {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #747a7a;
  text-decoration: none;
}

.header__call {
  margin-right: -110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__numbers {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  color: #3c3d42;
  text-decoration: none;
}

.header__email {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3c3d42;
  text-decoration: none;
}

.firstScreen {
  padding: 50px 0 50px 0;
  background: url(../img/steps/2.jpg) center center/cover no-repeat;
}

.firstScreen__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstScreen__tittle {
  text-align: center;
}

.firstScreen__tittle h1 {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

.firstScreen__tittle p {
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
  margin-top: 20px;
}

.firstScreen__subtittle {
  text-align: center;
}

.firstScreen__subtittle p {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #9dc7d1;
  margin-top: 45px;
}

.firstScreen__button {
  margin-top: 53px;
}

.firstScreen__button button {
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.firstScreen__button:hover button {
  background-color: #2d312f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.remonts {
  padding: 105px 0 100px 0;
}

.remonts__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.remonts__list {
  display: inline-block;
  border-right: 1px solid #dbe2e2;
  padding: 20px 0 20px 0;
}

.remonts__list .ee {
  margin: 0;
}

.remonts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}

.remonts__item:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 80px;
  background-color: #5dca88;
  margin-left: 20px;
  opacity: 0;
  left: 87%;
}

.remonts__item:hover:after {
  opacity: 1;
}

.remonts__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
}

.remonts__text {
  padding-left: 40px;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9fa9a9;
}

.remonts__tabsdescr {
  margin-left: 150px;
}

.remonts__tabs-img {
  width: 198px;
  height: 165px;
  margin: 0 auto;
}

.remonts__tabs-img img {
  width: 100%;
}

.remonts__tabs-desc {
  margin-top: 85px;
  text-align: left;
}

.remonts__tabs-desc h2 {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #636c6c;
}

.remonts__tabs-desc p {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #afb8b8;
  padding-right: 150px;
}

.steps {
  padding: 50px 30px;
  background-color: #f3f5f5;
}

.steps__tittle {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #636c6c;
  text-transform: uppercase;
  text-align: center;
}

.steps__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.steps__item {
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.steps__item h3 {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #636c6c;
}

.steps__item p {
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #8c9494;
}

.steps__item_font h3 {
  font-size: 25px;
}

.steps__item:hover {
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.steps__img {
  padding: 0 20px;
  width: 150px;
}

.steps__img img {
  width: 100%;
}

.repair {
  padding: 50px;
}

.repair__tittle {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #636c6c;
  text-transform: uppercase;
  text-align: center;
}

.repair__colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.repair__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f5f5;
  margin: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.repair__item-one {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-left: 30px;
}

.repair__item-one h3 {
  text-transform: uppercase;
}

.repair__item-img {
  padding-right: 50px;
  padding-left: 20px;
  width: 100px;
  height: 100px;
}

.repair__item-img img {
  width: 100%;
}

.repair__item:hover {
  -webkit-transform: translate3d(20px, 20px, 20px);
          transform: translate3d(20px, 20px, 20px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f2f9fe;
}
