body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 60px;
  padding: 22px 62px 23px 56px;
  border: solid 3px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px;
}

.tittle {
  text-align: center;
}

.tittle h2 {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #636c6c;
}

.tittle p {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #afb8b8;
  margin-top: 33px;
  padding: 0 200px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header__body {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 27px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #3c3d42;
  text-align: center;
}

.header__nav {
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.header__list {
  padding: 0;
  padding-right: 15px;
}

.header .heder__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  padding: 15px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #747a7a;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 3px;
}

.header__link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__numbers {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  color: #3c3d42;
  text-decoration: none;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.firstScreen {
  padding: 120px 0 50px 0;
  background: url(../img/steps/2.jpg) center center/cover no-repeat;
}

.firstScreen__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstScreen__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  width: 100%;
}

.firstScreen__slider_descr {
  background-color: #000;
}

.firstScreen__slider h2 {
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.firstScreen__slider_wrap {
  width: 100%;
  position: relative;
}

.firstScreen__slider_item {
  margin: 0 auto;
  position: relative;
}

.firstScreen__slider_item img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.firstScreen__slider_prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 87%;
}

.firstScreen__slider_prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.firstScreen__slider_prev:hover .arrow-left {
  opacity: 1;
}

.firstScreen__slider .arrow-left {
  width: 30px;
  height: 30px;
  background: url(../img/arrow/left-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 1s;
  transition: 1s;
}

.firstScreen__slider_next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 87%;
  right: 0%;
}

.firstScreen__slider_next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.firstScreen__slider_next:hover .arrow-right {
  opacity: 1;
}

.firstScreen__slider .arrow-right {
  width: 30px;
  height: 30px;
  background: url(../img/arrow/right-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 100%;
}

.firstScreen__descr {
  -webkit-box-flex: 0;
      -ms-flex: 0 0  50%;
          flex: 0 0  50%;
}

.firstScreen__tittle {
  text-align: left;
}

.firstScreen__tittle h1 {
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

.firstScreen__tittle p {
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
  margin-top: 20px;
}

.firstScreen__subtittle {
  text-align: left;
}

.firstScreen__subtittle p {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #b4e8f5;
  margin-top: 45px;
}

.firstScreen__button {
  margin-top: 70px;
  display: inline-block;
}

.firstScreen__button a {
  text-decoration: none;
}

.firstScreen__button button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.firstScreen__button:hover button {
  background-color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.frree {
  height: 150px;
  background-color: #4c7fa3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frree__inner h2 {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.frree__inner span {
  margin-left: 10px;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #9dc7d1;
}

.remonts {
  padding: 60px 0 50px 0;
}

.remonts__tittle h2 {
  font-size: 40px;
  text-transform: uppercase;
}

.remonts__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.remonts .tabs__slider1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  width: 100%;
}

.remonts .tabs__slider1_descr {
  background-color: #000;
}

.remonts .tabs__slider1 h2 {
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.remonts .tabs__slider1_wrap {
  width: 100%;
  position: relative;
}

.remonts .tabs__slider1_item {
  margin: 0 auto;
  position: relative;
}

.remonts .tabs__slider1_item img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.remonts .tabs__slider1_prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 84%;
}

.remonts .tabs__slider1_prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.remonts .tabs__slider1_prev:hover .arrow-left {
  opacity: 1;
}

.remonts .tabs__slider1 .arrow-left {
  width: 30px;
  height: 30px;
  background: url(../img/arrow/left-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 1s;
  transition: 1s;
}

.remonts .tabs__slider1_next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 84%;
  right: 0%;
}

.remonts .tabs__slider1_next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.remonts .tabs__slider1_next:hover .arrow-right {
  opacity: 1;
}

.remonts .tabs__slider1 .arrow-right {
  width: 30px;
  height: 30px;
  background: url(../img/arrow/right-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 100%;
}

.remonts .tabs__slider2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  width: 100%;
}

.remonts .tabs__slider2_descr {
  background-color: #000;
}

.remonts .tabs__slider2 h2 {
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.remonts .tabs__slider2_wrap {
  width: 100%;
  position: relative;
}

.remonts .tabs__slider2_item {
  margin: 0 auto;
  position: relative;
}

.remonts .tabs__slider2_item img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.remonts .tabs__slider2_prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 84%;
}

.remonts .tabs__slider2_prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.remonts .tabs__slider2_prev:hover .arrow-left {
  opacity: 1;
}

.remonts .tabs__slider2 .arrow-left {
  width: 30px;
  height: 30px;
  background: url(../img/arrow/left-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 1s;
  transition: 1s;
}

.remonts .tabs__slider2_next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 84%;
  right: 0%;
}

.remonts .tabs__slider2_next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.remonts .tabs__slider2_next:hover .arrow-right {
  opacity: 1;
}

.remonts .tabs__slider2 .arrow-right {
  width: 30px;
  height: 30px;
  background: url(../img/arrow/right-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 100%;
}

.remonts .tabs__slider3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  width: 100%;
}

.remonts .tabs__slider3_descr {
  background-color: #000;
}

.remonts .tabs__slider3 h2 {
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #fff;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.remonts .tabs__slider3_wrap {
  width: 100%;
  position: relative;
}

.remonts .tabs__slider3_item {
  margin: 0 auto;
  position: relative;
}

.remonts .tabs__slider3_item img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.remonts .tabs__slider3_prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 84%;
}

.remonts .tabs__slider3_prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.remonts .tabs__slider3_prev:hover .arrow-left {
  opacity: 1;
}

.remonts .tabs__slider3 .arrow-left {
  width: 30px;
  height: 30px;
  background: url(../img/arrow/left-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 1s;
  transition: 1s;
}

.remonts .tabs__slider3_next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 84%;
  right: 0%;
}

.remonts .tabs__slider3_next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.remonts .tabs__slider3_next:hover .arrow-right {
  opacity: 1;
}

.remonts .tabs__slider3 .arrow-right {
  width: 30px;
  height: 30px;
  background: url(../img/arrow/right-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 100%;
}

.remonts__list {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  border-right: 1px solid #dbe2e2;
  padding: 20px 0 20px 0;
}

.remonts__list .ee {
  margin: 0;
}

.remonts__tabs-d {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.remonts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}

.remonts__item:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 80px;
  background-color: #5dca88;
  margin-left: 20px;
  opacity: 0;
  left: 87%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.remonts__item:hover:after {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.remonts__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
}

.remonts__text {
  text-align: center;
  padding-left: 20px;
  display: inline-block;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #9fa9a9;
}

.remonts__tabsdescr {
  margin: 0 auto;
  width: 70%;
  height: 60%;
}

.remonts__tabs-img {
  width: 250px;
  height: 165px;
  margin: 0 auto;
}

.remonts__tabs-img img {
  width: 100%;
}

.remonts__tabs-desc {
  margin-top: 85px;
}

.remonts__tabs-desc h2 {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #636c6c;
}

.remonts__tabs-desc p {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #afb8b8;
}

.steps {
  padding: 50px 30px;
  background-color: #f3f5f5;
}

.steps__tittle {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #636c6c;
  text-transform: uppercase;
  text-align: center;
}

.steps__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.steps__item {
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.steps__item h3 {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #636c6c;
}

.steps__item p {
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #8c9494;
}

.steps__item_font h3 {
  font-size: 25px;
}

.steps__item:hover {
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.steps__img {
  padding: 0 20px;
  width: 150px;
}

.steps__img img {
  width: 100%;
}

.repair {
  padding: 50px;
}

.repair__tittle {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #636c6c;
  text-transform: uppercase;
  text-align: center;
}

.repair__colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.repair__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f5f5;
  margin: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.repair__item-one {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-left: 30px;
}

.repair__item-one h3 {
  text-transform: uppercase;
}

.repair__item-img {
  padding-right: 50px;
  padding-left: 20px;
  width: 100px;
  height: 100px;
}

.repair__item-img img {
  width: 100%;
}

.repair__item:hover {
  -webkit-transform: translate3d(20px, 20px, 20px);
          transform: translate3d(20px, 20px, 20px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f2f9fe;
}

.photogallerey {
  background-color: rgba(165, 98, 98, 0);
  padding: 75px 0 0 0;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.0s;
          animation-duration: 1.0s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.slider {
  margin-top: 50px;
  position: relative;
  width: 100%;
}

.slider_wrap {
  width: 100%;
  position: relative;
}

.slider_item {
  width: 80%;
  height: 10%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  margin-bottom: 50px;
}

.slider_item img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.slider_prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  left: 10%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}

.slider_prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.slider_prev:hover .arrow-left {
  opacity: 1;
}

.slider .arrow-left {
  width: 30px;
  height: 30px;
  background: url(../img/arrow/left-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 1s;
  transition: 1s;
}

.slider_next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  right: 10%;
}

.slider_next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.slider_next:hover .arrow-right {
  opacity: 1;
}

.slider .arrow-right {
  width: 30px;
  height: 30px;
  background: url(../img/arrow/right-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 100%;
}

.footer {
  background-color: #2d312f;
  padding: 30px 0;
}

.footer__tittle {
  text-align: center;
}

.footer__tittle h2 {
  font-size: 30px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #fff;
  text-transform: uppercase;
}

.footer__tittle a {
  font-size: 30px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #fff;
  text-transform: uppercase;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__vk {
  padding-left: 10px;
  height: 40px;
  width: 40px;
}

.footer__vk img {
  max-width: 100%;
}

.footer__viber {
  padding-left: 10px;
  height: 40px;
  width: 40px;
}

.footer__viber img {
  max-width: 100%;
}

.footer__creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__creator h3 {
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #d4a44b;
  padding-right: 20px;
}

.footer__creator img {
  height: 40px;
  width: 40px;
  max-width: 100%;
}
