body {
   font-family: "Raleway", sans-serif;
}

.container {
   max-width: 1150px;
   margin: 0 auto;
}
.button {
   button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 60px;
      padding: 22px 62px 23px 56px;
      border: solid 3px rgba(255, 255, 255, 0.5);
      background-color: rgba(0,0,0, 0.1);
      font-size: 21px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 30px;
   }
}
.tittle {
   text-align: center;
   h2{
      font-size: 36px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #636c6c;
   }
   p{
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #afb8b8;
      margin-top: 33px;
      padding: 0 200px;
    
   }
}
.hide{
   display: none;
}
.show{
   display: block;
}



.header {
   height: 109px;
   background-color: #fff;
   &__body {
      height: 109px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__logo {
      font-size: 30px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #3c3d42;
      text-align: center;
   }

   &__nav {
      display: flex;
      justify-content: space-between;
      margin-left: -150px;
   }

   &__list {
   }

   &__link {
      font-size: 17px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #747a7a;
      text-decoration: none;
   }

   &__call {
      margin-right: -110px;
      display: flex;
      align-items: center;
   }

   &__numbers {
      font-family: Raleway;
      font-size: 22px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      color: #3c3d42;
      text-decoration: none;
   }

   &__mail {
   }

   &__email {
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #3c3d42;
      text-decoration: none;
   }
}

.firstScreen {
   padding: 50px 0 50px 0;
   background: url(../img/steps/2.jpg) center center/cover no-repeat;
   

   &__inner {
      display: flex;
      
   }
   &__descr {
      
   }
   
   &__tittle {
     text-align: center;
      h1{
         font-size: 36px;
         font-weight: bold;
         font-stretch: normal;
         font-style: normal;
         letter-spacing: normal;
         color: #fff; 
         margin: 0;
         

         
         text-transform: uppercase;
      }
      p{
         font-size: 36px;
         font-weight: 300;
         font-stretch: normal;
         font-style: normal;
         letter-spacing: normal;
         
         color: #fff;
         margin: 0;
         
         margin-top: 20px;
         
      }
   }

   &__subtittle {
      text-align: center;
      p{
         font-size: 18px;
         font-weight: normal;
         font-stretch: normal;
         font-style: normal;
         line-height: 1.71;
         letter-spacing: normal;
         
         color: #9dc7d1; 
         margin-top: 45px;
         
      }
   }

   &__button {
      margin-top: 53px;
      button{
         margin: 0 auto;
         transition: all 0.3s;
      }
   }
   &__button:hover{
     button{
      background-color: #2d312f;
      transition: all 0.3s;
     }
     
   }
}

.remonts {
   padding: 105px 0 100px 0;
   &__tabs {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
   }

   &__list {
      display: inline-block;
      .ee {
         margin: 0;
      }
      border-right: 1px solid #dbe2e2;
      padding: 20px 0 20px 0;


   }
  

   &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
      position: relative;
      padding-right: 30px;
      cursor: pointer;

   }

   &__item:after{
     
      content: "";
      position: absolute;
      width: 11px;
      height: 80px;
      background-color: #5dca88;
      margin-left: 20px;
      opacity: 0;
      left: 87%;
   }
   
   &__item:hover:after{
      opacity: 1;
   }

   &__img {
      display: flex;

      width: 50px;
      height: 50px;
      img{
         
      }
   }

   &__text {
      padding-left: 40px;
      display: inline-block;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      color: #9fa9a9;
   }

   &__tabsdescr {
      margin-left: 150px;
   }

   &__tabs-img {
      width: 198px;
      height: 165px;
      margin: 0 auto;
      img{
         width: 100%;
      }
   }

   &__tabs-desc {
      margin-top: 85px;
      text-align: left;
      h2{
         font-size: 24px;
         font-weight: bold;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
         text-align: left;
         color: #636c6c;
      }
      p{
         font-size: 16px;
         font-weight: normal;
         font-stretch: normal;
         font-style: normal;
         line-height: 1.5;
         letter-spacing: normal;
         text-align: left;
         color: #afb8b8;
         padding-right: 150px;
      }
   }
}

.steps {
   padding: 50px 30px;
   background-color: #f3f5f5;
   &__tittle {
      font-size: 36px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #636c6c;
      text-transform: uppercase;
      text-align: center;
   }

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
   }

   &__item {
   text-align: center;
   transition: all 0.3s;  
      h3{
         font-size: 22px;
         font-weight: bold;
         font-stretch: normal;
         font-style: normal;
         letter-spacing: normal;
         color: #636c6c;
      }
      p{
         font-size: 19px;
         font-weight: normal;
         font-stretch: normal;
         font-style: normal;
         letter-spacing: normal;
         color: #8c9494;
      }
      &_font{
         h3{
            font-size: 25px;
         }
      }
   }
   &__item:hover {
      transform: translate(10px,10px);
      transition: all 0.3s;
   
   }

   &__img {
      padding: 0 20px;
      width: 150px;
      img{
         width: 100%;
      }
   }
}

.repair {
   padding: 50px;
   &__tittle {
      font-size: 36px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #636c6c;
      text-transform: uppercase;
      text-align: center;
   }

   &__colums {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
      
   }

   &__item {
      flex: 1 1 33.33%;
      display: flex;
      align-items: center;
      background-color: #f3f5f5;
      margin: 10px;
      justify-content: space-between;
      transition: all 0.3s;
     
   }

   &__item-one {
      text-align: center;
      flex: 0 0 50%;
      padding-left: 30px;
      h3{
         text-transform: uppercase;
      }
      
   }

   &__item-img {
      padding-right: 50px;
      padding-left: 20px;
      width: 100px;
      height: 100px;
      img{
         width: 100%;
      }
   }
   &__item:hover{
      transform: translate3d(20px,20px,20px);
      transition: all 0.3s;
      background-color: #f2f9fe;
   }
}
.container {
}










